<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png"/>
    <link rel="stylesheet" href="../assets/css/styles.min.css"/>
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                            </a>
                            <p th:if="${session.error}" class="alert alert-danger" role="alert"
                               th:text="${session.error}" id="error-message"></p>
                            <form method="post" action="#" th:action="@{/checkLogin}" th:object="${account}">
                                <div class="mb-3">
                                    <label class="form-label">ID</label>
                                    <input type="text" pattern="[1-9]*" maxlength="6" inputmode="numeric"
                                           class="form-control" id="id_account" name="id_account"
                                           th:field="*{id_account}">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                           th:field="*{password}" maxlength="12" minlength="8">
                                </div>
                                <button href="templates/index.html" type="submit"
                                        class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('click', function(event) {
        // Kiểm tra nếu người dùng nhấn vào bất kỳ đâu trên trang
        if (event.target.id !== 'id_account') {
            const errorMessage = document.getElementById('error-message');
            // Ẩn #error-message
            errorMessage.style.display = 'none';
        }
    });
</script>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>